<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
  <link rel="import" href="/elements/element-example-1.html">
</head>
<body>
	<h1>Polymer App</h1>
  <p>Hi! I'm an simple app made with Polymer. I was created in a custom element called "age-slider" that was build in a different html file called "element-example-1.html". There, with the magic of Polymer I have can have dynamic values and my html tag element can have any name that my developer wants. Not only that I can also have custom attributes, styles, etc all my developer had to do is use the <span>"polymer element" and the "template" tags as a structure.</span></p>
  <p>What you see below me is a little game where you can put any age value and name you want. Try me!</p>
	<age-slider></age-slider>
</body>
</html>